/**
 * @file {{NAME}}.h
 * @brief {{BRIEF}}
 *
 * @see docs/adr/{{ADR}}
 */

#ifndef {{GUARD}}_H
#define {{GUARD}}_H

#include <string>
#include <vector>

// TODO: declare interface

#endif  // {{GUARD}}_H
